* {
  padding: 0;
  margin: 0;
  border: 0;
  color:rgb(0, 0, 0); 
}

body {
  background: url("imagens/fundo_kakashi.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: none;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

header >h4{
  /* background: rgb(151, 132, 132); */
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: azure;
  text-shadow: 1px 1px 1px ;
}

#instrucoes {
  position: relative;
  display: block;
  /* left: 25%; */
  /* top: 20%; */
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 10px;
  max-width: 30%;
  height: auto;
  z-index: 1;
}

#instrucoes p {
  padding: 10px;
  color: white;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
}

#instrucoes #cuidado {
  width: 50%;
  position: relative;
  min-height: 150px;
}

#fechar img{
  position: absolute;
  right: 10px;
  width: 30px;
  margin-top: 10px;
  float: right;
}

#flex {
  /* background-color: aqua; */
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  display: none;
  flex-direction:row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

.card {
  padding: 10px; 
  background-color: rgba(0, 0, 0, 0.822);
  border: 2px solid rgba(255, 255, 255, 0.507);
  border-radius: 10px;
  width: 200px;
  height: 300px;
  margin-top: 10px;
  overflow: hidden;
}

.card img{
  width: 100%;
  height: 70%;
  border-radius: 10px;
  border: 1px solid black;
  
}

.formulario{
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-rows: 20px 20px; */
  justify-content: center;
  align-content: center;
  /* background-color: aqua; */
  grid-gap: 10px;
  height: 80px;
  margin-top:5px; 
  /* background-color: aqua; */
}

.botao_de_escolha {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  opacity: .8;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 1px white;
}

.botao_de_escolha:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgb(49, 218, 119);
}

@media screen and (max-width: 1250px) {
  body{
  background: url("imagens/fundo_kakashi_2.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  #instrucoes p {
    font-size: 15px;
  }
  #instrucoes {
    max-width: 50%;
  }

}

#confirmar_escolha {
  background-color: rgb(0, 0, 0);
  display: none;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: .5s ease;
  border-radius: 15px;
  color: aquamarine;
}

#confirmar_escolha:hover {
  font-size: 20px;
  width: 250px;
}

#confirmar_escolha > p {
  color: rgb(52, 167, 151);
  text-align: center;
}
